header{
    background-color: lightblue;
    text-align: center;
    padding:40px;
}
header h1{
    font-size: 60px;
}
div{
    text-align: center;
    background-color: aquamarine;
    padding: 40px;
    display: block;
}
input{
    padding: 20px;
    font-size: 20px;
}
input:focus{
    background-color: black;
    color: white;
}
button{
    padding: 20px;
    background-color: black;
    color:white;
}
ul{
    text-align: center;
    background-color: blue;
    padding:50px;
    list-style-type: none;
    color:white;
    margin: 0;
    height: 450px;
    font-size: 50px;
}